/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
  .wrap {
    padding: 0 15px;
  }
  
  @media (min-width: @grid-float-breakpoint) {
    padding: @navbar-margin-bottom*2 0; 
  }
  
}



/* ==========================================================================
   Header
   ========================================================================== */

.site-header {

  .brand {
    color: @navbar-default-brand-color;
    padding: 0 @navbar-padding-horizontal @navbar-padding-vertical @navbar-padding-horizontal;
    font-size: @font-size-h2;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none;
      color: @navbar-default-brand-hover-color;
    }

  }
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  .jumbotron a {
    .btn;
    .btn-primary;
  }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
  .widget {
    h3 {
      font-size: @font-size-h4;
    }
    
    ul {
      .nav;
      
      li.recentcomments {
        padding: @nav-link-padding;
      
        >a {
          display: inline;
          padding: 0;
          
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
    
  }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
  font-size: @font-size-large;
  font-weight: 200;
}
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer { 
  position: absolute;
  bottom: @navbar-margin-bottom*2;
  left: 15px;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
