/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Variables
   ========================================================================== */

@font-size: 16px;
@font-family-sans-serif:  'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
@headings-font-weight: bold;

@brand-primary: #27d96a;

//@link-color:            @text-color;
@link-hover-color:      @brand-primary;
//@badge-active-color:    @brand-primary;

/* ==========================================================================
   Base
   ========================================================================== */

body {
  background: #242E33;
  
  .wrap {
    padding: 0 15px;
  }
  
}

/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
  
  @media (min-width: @grid-float-breakpoint) {
    padding-top: @navbar-margin-bottom*2; 
  }
  
  .brand {
    color: @navbar-default-brand-color;
    padding: 0 @navbar-padding-horizontal @navbar-padding-vertical @navbar-padding-horizontal;
    font-size: @font-size-h2;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none;
      color: @navbar-default-brand-hover-color;
    }
    
    img {
      width: 100%;
      margin-bottom: 0.5em;
    }

  }
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.main {
  background: #FFF;
  padding: 2em;
  
  a {
    color: @text-color;
    text-decoration: underline;
    
    &:hover {
      color: @gray-light;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
  
  padding-top: @navbar-margin-bottom*2; 
  padding-left: 2em;
  padding-right: 2em;
  
  .widget {
    
    color: #FFF;
    
    h3, h4, h5 {
      color: #FFF;
    }
    
    h3 {
      font-size: @font-size-h4;
      margin-top: 2em;
    }
    
    ul {
      
      list-style: none;
      padding: 0;
      
    }
    
  }
}

/* ==========================================================================
   Group Maps Template
   ========================================================================== */

.groups.map {
  .gm-style-iw {
    strong a {
      font-weight: bold;
    } 
  }

  width: 100%;
  height: 600px;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
  
  .group-extra-content {
    dl {
      margin-bottom: 0;
    }
  
    .contact-person img {
      .pull-left;
      margin-right: 15px;
    }
    
    .info ul {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li:before {
        content: "\2192\2003";
      }
    }
    
    .map {
      width: 100%;
      height: 250px;
    }
  }
  
  footer {
    margin-top: @navbar-margin-bottom;
  }
}

.hentry #comments { 
  margin-top: @navbar-margin-bottom*2;
}

.hentry #respond { 
  margin-top: @navbar-margin-bottom*2;
}



/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer { 
  position: absolute;
  bottom: @navbar-margin-bottom*2;
  left: 15px;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
